.venv/
.venv_path.txt
__pycache__/
state.json
output.pdf
output.tex
output.aux
output.log
current_qr.png
*.pyc

# PyInstaller & Build artifacts
build/
dist/
*.spec

# Temp scripts and extractions
.venv_extract/
extract.py
do_wydruku.csv
~$*.xlsx
