.venv/
.venv_path.txt
__pycache__/
state.json
output.pdf
output.tex
output.aux
output.log
output_pack_*.pdf
output_pack_*.tex
output_pack_*.aux
output_pack_*.log
current_qr.png
*_qr.png
*.pyc

# PyInstaller & Build artifacts
build/
dist/
*.spec

# Temp scripts and extractions
.venv_extract/
extract.py
do_wydruku.csv
~$*.xlsx
*.xlsx
